/* Utilitaires
   ========================================================================== */
/*** Variables ***/
:root {
    --padding-text:1rem;
    --couleur-principale:#93c9b7;
    --couleur-secondaire: #b9dfc3;
    --couleur-tertiaire: #fbffea;
    --couleur-erreur:rgb(155, 5, 5); /* #ff0000 n'offre pas un contraste suffisant */
}


/*** Clearfix première version ***/
.flottants {
    overflow: hidden;
}

/*** Clearfix deuxième version ***/
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/*** Harmoniser le modèle de boîte avec Box-Sizing ***/
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/*** Accessibilité ***/
/*** screen-reader-only : pour cacher visuellement tout en gardant accessible un contenu ***/
.screen-reader-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.screen-reader-only.focusable:active,
.screen-reader-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*** Styles de base ***/
abbr[title] {
    text-decoration: none;
    cursor: help;
}

abbr[title]:hover {
    background-color: rgba(244, 161, 71, 0.25);
}

img {
    max-width: 100%;
    display: block;
}

.sanspuces {
    list-style: none;
    padding-left: 0;
}

/*** Validation de formulaire ***/
.erreur {
    color: red;
    /*display: none;*/
}

.erreur:empty {
    display: none;
}

.ctnValidation.erreur {
     color: #000;
}

fieldset.ctnValidation.erreur {
    border: 1px solid red;
}

.ctnValidation.erreur input,
.ctnValidation.erreur select {
    border: 1px solid red;
}

.icone {
    display: inline-block;
    width:24px;
    height:24px;
    background-image:url("../images/good-warning-error.png");
    background-size: cover;
    position: relative;
    top:3px;
}

.icone--avertissement {
    background-position:49px 0;
}
.icone--erreur {
    background-position:99px 0;
}